%body
  %link{:href => "http://fonts.googleapis.com/css?family=Rock+Salt|Archivo+Narrow:400,700", :rel => "stylesheet", :type => "text/css"}
    %header#welcome_image
      %h1#death_wish Death Wish
      %h3#live Live while you can!
    %p#dean
      "Dream as if you'll live forever. Live as if you'll die today."
      %br James Dean
    %p#intro
      They say the things you regret most in life are the things you didn't do. Live without regrets; create your own bucket list today! On Death Wish, you can track progress toward your goal, upload images that inspire you, and get ideas from other wish lists.
      %p
        %p#intro
          Click #{link_to 'new goal', new_goal_path} to get started, or have some fun browsing other people's goals below...
        / <h1 id="dean">Goals</h1>
        %hr
          %h1#header1 Goals
          - @goals.each do |goal|
            .goal
              %a{:href => goal_path(goal.id)}
                = image_tag goal.goal_img.url(:medium)
              = goal.goal_title
          .container
            = will_paginate @goals, :page_links => false

