body {
	background-color: silver;
}

hr { 
  display: block;
  margin-top: 3em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 2px;
} 

#death_wish {
	color: silver;
	font-size: 150px;
	margin-left: 20px;
	padding: 30px 30px 30px 0;
	font-family: 'Rock Salt', cursive;
}

#live {
	color: grey;
	font-size: 30px;
	margin-left: 30px;
}

#dean {
	font-family: 'Rock Salt', cursive;
	margin-top: 40px;
	margin-botton: 40px;
	font-size: 35px;
	text-align: center;
}

#intro {
	margin-top: 40px;
	font-size: 20px;
	text-align: center;
}

#welcome {
	font-family: 'Rock Salt', cursive;
	text-align: center;
}

#welcome_image {
	height: 800px;
	background-image: image-url('reaper.jpg');
	repeat: no-repeat;
	background-size: 100%;
}

.goal {
	font-size: 20px;
	color: black;
	display: inline-block;
	padding: 4%;
}

